<div class="row justify-content-center" id="pat">

    <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Doctor</div>
        <div class="card-body text-info">
            <h3 class="card-text">{{doctor.name}}</h3>
            <p class="card-text">{{doctor.birthDate}}</p>
            <p class="card-text">{{doctor.gender}}</p>
            <p class="card-text">{{doctor.address}}</p>
        </div>
    </div>

    <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Caregiver</div>
        <div class="card-body text-info">
            <h3 class="card-text">{{caregiver.name}}</h3>
            <p class="card-text">{{caregiver.birthDate}}</p>
            <p class="card-text">{{caregiver.gender}}</p>
            <p class="card-text">{{caregiver.address}}</p>
        </div>
    </div>

</div>
