<div class="row justify-content-center" id="pat">

    <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">{{patient.name}}</div>
        <div class="card-body text-info">
            <p class="card-text">{{patient.birthDate}}</p>
            <p class="card-text">{{patient.gender}}</p>
            <p class="card-text">{{patient.address}}</p>
            <p class="card-text">{{patient.medicalRecord}}</p>
        </div>
    </div>

</div>