<div class="btn-group btn-group-md mr-2" id="addbutton">
  <button type="button" class="btn btn-secondary" (click)="openModalWithClass(template)">Add medication</button>
</div>

<ng-template #template>  
  <div class="modal-header bg-info ">  
    <h4 class="modal-title pull-left text-light">Add details about the new medication.</h4>  
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
  </div>  
  <div class="modal-body">  
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="newCat.name" class="form-control" id="name" />
        <small class="form-text text-muted">Very important! Please double check!</small>
      </div>
      <div class="form-group">
        <label for="Dosage">Dosage</label>
        <input  [(ngModel)]="newCat.dosage" class="form-control" id="Dosage"/>
      </div>
      <div class="form-group">
        <label for="sideEffects">Side Effects</label>
        <input [(ngModel)]="newCat.sideEffects" class="form-control" id="sideEffects" />
      </div>

      <button type="submit" class="btn btn-info" (click)="addMedication(newCat);">Submit</button>
    </form>
  </div>  

</ng-template>  


<div id="medication">
  <div class="row">
    <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;"
      *ngFor="let medication of pageOfAnswers">
      <div class="card-header bg-transparent border-info">{{medication.name}}</div>
      <div class="card-body text-info">
        <h5 class="card-title">{{medication.dosage}}</h5>
        <p class="card-text">{{medication.sideEffects}}</p>
      </div>
      <div class="card-footer bg-transparent border-info">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-md btn-block btn-info mb-2" id="delete" (click)="changePage(false)">
              Delete
            </button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-md btn-block btn-info" id="update" (click)="changePage(true)">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3 mt-3">
      <button class="btn btn-lg btn-block btn-info" (click)="changePage(false)">
        Previous
      </button>
    </div>
    <div class="col-md-6 mb-3 mt-3">
      <button class="btn btn-lg btn-block btn-info" (click)="changePage(true)">
        Next
      </button>
    </div>
  </div>
</div>