<div class="btn-group btn-group-md mr-2" id="addbutton">
    <button type="button" class="btn btn-secondary" (click)="openModalWithClass(template)">Add Patient</button>
  </div>
  
  
  <!-- ADD MEDICATION -->
  <ng-template #template>  
    <div class="modal-header bg-info ">  
      <h4 class="modal-title pull-left text-light">Add details about the new patient.</h4>  
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
        <span aria-hidden="true">×</span>  
      </button>  
    </div>  
    <div class="modal-body">  
  
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" [(ngModel)]="newCat.name" #it="ngModel" required/>
          <small class="form-text text-muted">Very important! Please double check!</small>
        </div>
        
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <div class="form-group">
          <label for="sideEffects">Side Effects</label>
          <input class="form-control" id="sideEffects" [(ngModel)]="newCat.sideEffects" #it="ngModel" required/>
        </div>
  
        <button type="submit" class="btn btn-info" (click)="addMedication(newCat);">Submit</button>
    
    </div>  
  
  </ng-template>  
  
  <!-- EDIT EXISTING MEDICATION
  <ng-template #templateEdit>
    <div class="modal-header bg-info">
      <h4 class="modal-title pull-left text-light">Edit medication.</h4>  
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
        <span aria-hidden="true">×</span>  
      </button> 
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" [(ngModel)]="editingCat.name" #it="ngModel" required/>
        <small class="form-text text-muted">Very important! Please double check!</small>
      </div>
      <div class="form-group">
        <label for="Dosage">Dosage</label>
        <input class="form-control" id="Dosage" [(ngModel)]="editingCat.dosage" #it="ngModel" required/>
      </div>
      <div class="form-group">
        <label for="sideEffects">Side Effects</label>
        <input class="form-control" id="sideEffects" [(ngModel)]="editingCat.sideEffects" #it="ngModel" required/>
      </div>
  
      <button type="submit" class="btn btn-info" (click)="updateMedication(editingCat);">Submit</button>
    </div>
  </ng-template>
  
   Delete Medication 
  <ng-template #templateDelete>
    <div class="modal-header bg-info">
      <h4 class="modal-title pull-left text-light">Delete medication.</h4>  
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
        <span aria-hidden="true">×</span>  
      </button> 
    </div>
    <div class="modal-body">
      <label for="categoryName">Delete medication "{{deleteCat.name}}"? </label>
      <br>
      <button class="btn m-05 ml-3 mb-3 text-light" id="delete" (click)="deleteMedication(deleteCat)">
        Yes, Delete
      </button>
      <button class="btn m-05 ml-3 mb-3 text-light" id="update" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>
  </ng-template> -->
  
  
  <div id="medication">
    <div class="row">
      <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;"
        *ngFor="let medication of pageOfAnswers">
        <div class="card-header bg-transparent border-info">{{medication.name}}</div>
        <div class="card-body text-info">
          <h5 class="card-title">{{medication.dosage}}</h5>
          <p class="card-text">{{medication.sideEffects}}</p>
        </div>
        <div class="card-footer bg-transparent border-info">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-md btn-block btn-info mb-2" id="delete">
                Delete
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-md btn-block btn-info" id="update">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3 mt-3">
        <button class="btn btn-lg btn-block btn-info" (click)="changePage(false)">
          Previous
        </button>
      </div>
      <div class="col-md-6 mb-3 mt-3">
        <button class="btn btn-lg btn-block btn-info" (click)="changePage(true)">
          Next
        </button>
      </div>
    </div>
  </div>