<div class="row" id="selectt">

    <div class="col-md-6 col-sm-6">
        <form class="example-form" id="meds">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick medication" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto" [(ngModel)]="selectedMed">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

    <div class="col-md-6 col-sm-6">
        <form class="example-form2" id="patients">
            <mat-form-field class="example-full-width2">
                <input type="text" placeholder="Pick patient" aria-label="Number" matInput [formControl]="myControl2"
                    [matAutocomplete]="auto1" [(ngModel)]="selectedPatient">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                    <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                        {{option2}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

</div>