<div class="row" id="fullcard">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="card border-info mb-3 ml-3 col-md-6 col-sm-12" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-info">{{doctor.name}}</div>
                <div class="card-body text-info">
                    <p class="card-text">{{doctor.birthDate}}</p>
                    <p class="card-text">{{doctor.gender}}</p>
                    <p class="card-text">{{doctor.address}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead bg-info text-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Address</th>
                        <th scope="col">Medical Record</th>
                        <th scope="col">Caregiver id</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let pat of patients;">
                      <tr>
                        <th scope="row">{{pat.id}}</th>
                        <td>{{pat.name}}</td>
                        <td>{{pat.birthDate}}</td>
                        <td>{{pat.gender}}</td>
                        <td>{{pat.address}}</td>
                        <td>{{pat.medicalRecord}}</td>
                        <td>{{pat.caregiverId}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>