.header {
  padding: 100px;
  text-align: center;
  display: block;
  position: relative;
}

.header::after {
  content: "";
  background-image: url("https://www.medici-romania.ro/files/dr%208-1.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.h1{
  font-family: Impact, Charcoal, sans-serif;
}