<div class="header">
    <h1><strong>Medical</strong></h1>
    
    <blockquote class="blockquote mb-0">
      <p>“Isn’t it a bit unnerving that doctors call what they do “practice”?”</p>
      <footer class="blockquote-footer"><cite title="Source Title">George Carlin</cite></footer>
    </blockquote>
  </div>
  
  <mdb-navbar *ngIf = "userType !== 'DOCTOR' && userType !== 'CAREGIVER' && userType !== 'PATIENT'" SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false" id="navbar" >

    <mdb-navbar-brand><a class="navbar-brand text-light" (click)="btnHome();">Medical</a></mdb-navbar-brand>
  
    <links>
  
      <ul class="navbar-nav mr-auto" id="myDIV">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnHome();">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" ><mdb-icon fas icon="envelope"></mdb-icon> Contact</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link waves-light" (click)="btnClick();"><mdb-icon fas icon="sign-in-alt"></mdb-icon>Log in</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link waves-light" (click)="btnSignUp();"><mdb-icon fas icon="user-plus"></mdb-icon>Sign up</a>
        </li>
  
      </ul>
    </links>
  
  </mdb-navbar>


  <mdb-navbar *ngIf = "userType == 'DOCTOR'" SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false" id="navbar">

    <mdb-navbar-brand><a class="navbar-brand text-light" (click)="btnClickCareHome();">Medical</a></mdb-navbar-brand>
  
    <links>
  
      <ul class="navbar-nav mr-auto" id="myDIV">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickCareHome();">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickCrudMed();">CRUD-Medication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickCrudPat();">CRUD-Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickCrudCar();">CRUD-Caregivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickPlanMed();">Medication Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect  (click)="btnClickCarePat();">Associate caregiver to patient </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" ><mdb-icon fas icon="envelope"></mdb-icon> Contact</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link waves-light" (click)="logout();"><mdb-icon fas icon="sign-out-alt"></mdb-icon>Log out</a>
        </li>
  
      </ul>
    </links>
  
  </mdb-navbar>

  <mdb-navbar *ngIf = "userType == 'CAREGIVER'" SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false" id="navbar">

    <mdb-navbar-brand><a class="navbar-brand text-light" (click)="btnClickCaregiverHome();">Medical</a></mdb-navbar-brand>
  
    <links>
  
      <ul class="navbar-nav mr-auto" id="myDIV">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickCaregiverHome();">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" ><mdb-icon fas icon="envelope"></mdb-icon> Contact</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link waves-light" (click)="logout();"><mdb-icon fas icon="sign-out-alt"></mdb-icon>Log out</a>
        </li>
  
      </ul>
    </links>
  
  </mdb-navbar>

  <mdb-navbar *ngIf = "userType == 'PATIENT'" SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false" id="navbar">

    <mdb-navbar-brand><a class="navbar-brand text-light" (click)="btnClickPatientHome();">Medical</a></mdb-navbar-brand>
  
    <links>
  
      <ul class="navbar-nav mr-auto" id="myDIV">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickPatientHome();">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickPatientPersonal();">Associated Employees</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect (click)="btnClickPatientPlan();">Medication Plan</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light" ><mdb-icon fas icon="envelope"></mdb-icon> Contact</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link waves-light" (click)="logout();"><mdb-icon fas icon="sign-out-alt"></mdb-icon>Log out</a>
        </li>
  
      </ul>
    </links>
  
  </mdb-navbar>