.example-form, .example-form2 {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width, .example-full-width2 {
   width: 100%;
}

#selectt{
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 9%;
}

#delete{
  background-color: #D5ACA9;
}