<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Best doctors</h1>
            <h5 class="w3-padding-32">An apple a day keeps the doctor away!</h5>

            <p class="w3-text-grey">The doctor of the future will give no medicine but will interest his patients 
                in the care of the human frame, in diet and in the cause and prevention of disease.</p>
        </div>

        <div class="w3-third w3-center">
            <i class="fa fa-user-md w3-padding-64 w3-text-cyan"></i>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-wheelchair w3-padding-64 w3-text-cyan w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
            <h1>We do everything for our patients</h1>
            <h5 class="w3-padding-32">The lab test indicated abnormal lover function.</h5>

            <p class="w3-text-grey">It had been a long time—seven years to be exact—since my friend Brian had been to see 
                his doctor. So the nurse told him that if he wanted to make an appointment, he would have to be reprocessed 
                as a new patient. “Okay,” said Brian, “reprocess me.” “I’m sorry,” she told him. “We’re not accepting any 
                new patients.”</p>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Best prepared caregivers</h1>
            <h5 class="w3-padding-32">What’s It Called When A Hospital Runs Out Of Maternity Nurses? A mid-wife crisis!</h5>

            <p class="w3-text-grey">Every nurse who doesn’t turn their back on nursing students,
                 or graduate nurses, every nurse who acknowledges it’s okay and simply human to make foolish mistakes, every 
                 nurse who takes a moment of their time to help when you’re scared, and every nurse who remembers what it’s 
                 like to be a beginner.</p>
        </div>

        <div class="w3-third w3-center">
            <i class="fa fa-ambulance w3-padding-64 w3-text-cyan"></i>
        </div>
    </div>
</div>